<% include partials/header %>
<div class='container text-center'>
    <h1>More info on <span style="color: steelblue;"><%= cat.name %></span></h1>
    <img src="<%= cat.image %>">
    <p><%= cat.desc %></p>
    <p>Cute:<%= cat.isCute %></p>
    
    <% cat.comments.forEach(function(comment){ %>
        <p> <%= comment.author %> - <%= comment.title %></p>
    <% }) %>
</div>

<% include partials/footer %>